.chart-container {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  max-height: 400px;
  margin-bottom: 20px;
  .chart-title {
    text-align: center;
    margin-top: 10px;
    font-family: 'Oxygen', 'Helvetica', sans-serif;
    margin-bottom: 0;
  }
}

