.cards-container {
  .card-container {
    margin-bottom: 20px;
  }

  .title {
    font-family: 'Oxygen', 'Helvetica', sans-serif;
    margin: 0;
  }

  p.value {
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 700;
    font-family: 'Oxygen', 'Helvetica', sans-serif;
    color: #454545;
  }

  p {
    margin: 0;
  }
}


@media only screen and (max-width: 768px) {
  .cards-container {
    .title {
      font-size: 1.15rem;
      font-weight: 500;
    }

    .title.cured {
      font-size: 1.1rem;
      font-weight: 500;
    }

    .value {

    }
  }
}

@media only screen and (min-width: 769px) {
  .cards-container {
    .title {
      font-size: 24px;
    }

    .value {

    }
  }
}
