.footer-container {
  color: white;
  margin-top: 10px;
  min-height: 100px;
  text-align: center;
  padding: 20px 0;
  .hashtag {
    margin-bottom: 10px;
    a {
      color: white;
      font-size: 16pt;
    }
  }
  .social {
    margin-bottom: 15px;
  }
  .icon {
    color: #fff;
    fill: white;
    .icon-github {
      fill: white;
      margin-right: 15px;
    }
  }

  .made-by {
    font-family: 'Helvetica', sans-serif;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
