.footer-container {
  background-color: #26C086;
  color: white;
  margin-top: 10px;
  min-height: 100px;
  text-align: center;
  padding: 20px 0;
  .social {
    margin-bottom: 20px;
  }
  .icon {
    color: #fff;
    fill: white;
    .icon-github {
      fill: white;
      margin-right: 15px;
    }
  }

  .made-by {
    font-family: 'Helvetica', sans-serif;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
