.footer-container {
  color: white;
  margin-top: 10px;
  min-height: 100px;
  text-align: center;
  padding: 20px 0;
  font-family: 'Oxygen', 'Helvetica', sans-serif;
  .hashtag {
    margin-bottom: 10px;
    a {
      color: white;
      font-size: 16pt;

    }
  }
  .social {
    display: flex;
    justify-content: center;
    height: 48px;
    margin-bottom: 10px;
    a.icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 48px;
      margin: 0 5px;
    }
  }
  .icon {
    color: #fff;
    fill: white;
    .icon-github {
      fill: white;
    }
  }
  .made-by {
    a {
      color: white;
      text-decoration: none;
    }
  }
}
