.date-filter-container {
  .date-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    .label {
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}
