.card-container {
  margin-bottom: 20px;
  font-family: 'Oxygen', 'Helvetica', sans-serif;

  .title {
    margin: 0;
  }

  p.value {
    margin-bottom: 0;
    font-weight: 700;
    color: #454545;
    margin-right: 5px;
  }

  p {
    margin: 0;
  }

  .card-header {
    min-height: 53px;
  }
  .card-body {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    div.card-title {
      display: flex;
      justify-content: center;
      align-items: baseline;
      .extra {
        color: rgb(54, 186, 92);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    .title {
      font-size: 1.15rem;
      font-weight: 500;
    }

    .title.cured {
      font-size: 1.1rem;
      font-weight: 500;
    }
    .value {
      font-size: 2.4rem;
    }
  }
}

@media only screen and (min-width: 769px) {
  .card-container {
    .title {
      font-size: 24px;
    }
    p.value {
      font-size: 2.5rem;
    }
  }

  .card-container.avg-deceased, .card-container.intensive-care {
    .title {
      font-size: 17px;
      font-weight: 500;
      margin-top: 5px;
    }
  }
}
