#emergency-alert {
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: #A43EC9;
  padding: 5px 10px;
  font-family: 'Helvetica', sans-serif;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  p {
    margin: 0;
  }
  .message {
    margin-right: 15px;
    color: white;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .phone-number {
    font-weight: 700;
    color: white;
  }
  .button {
    cursor: pointer;
    text-decoration: underline;
  }
}


@media only screen and (max-width: 768px) {
  #emergency-alert {
    align-items: center;
    .message {
      font-size: 16px;
      line-height: 1.4;
    }
    .phone-number {
      font-size: 28px;
    }
  }
}

// DESKTOP
@media only screen and (min-width: 769px) {
  #emergency-alert {
    .message {
      font-size: 18px;
      line-height: 1;
    }
    .phone-number {
      font-size: 32px;
    }
  }
}
