@import "palette";

.body {
  max-width: 1200px;
  margin: auto;

  .last-update {
    padding-left: 15px;
    h3 {
      font-weight: 600;
      margin-bottom: 10px;
      font-family: 'Helvetica', sans-serif;
    }
  }

  .source {
    text-align: center;
  }
}


@media only screen and (max-width: 768px) {
  .last-update {
    h3 {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 769px) {
  .last-update {
    h3 {
      font-size: 18px;
    }
  }
}
