@import "palette";

.body {
  max-width: 1200px;
  margin: auto;
  font-family: 'Oxygen', 'Helvetica', sans-serif;

  .mobile-alert {
    margin: 0 10px 20px 10px;
  }
  .nav.nav-pills {
    justify-content: center;
    .nav-link.active {
      background-color: #454545;
    }
  }

  a.nav-link {
    color: #11998e;
    outline: none;
  }

  .source {
    text-align: center;
    a {
      text-decoration: underline;
    }
  }

  .loader {
    text-align: center;
    margin-top: 60px;
    .loader-text {
      margin-top: 10px;
    }
  }

  #argentina-tab {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .soon {
      text-align: center;
      font-weight: 300;
      font-size: 36px;
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }
  .btn-information {
    background-color: #A43EC9;
    border-radius: 100%;
    border: none;
    color: white;
    font-family: serif;
    padding: 6px 20px;
    font-weight: 600;
    font-size: 24px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    outline: none;
    &:active {
      outline: none;
      background-color: darken(#A43EC9, 0.3);
    }
    &:focus {
      outline: none;
      background-color: darken(#A43EC9, 0.3);
    }
    &:hover {
      outline: none;
      background-color: darken(#A43EC9, 0.3);
    }
  }
}


@media only screen and (max-width: 768px) {
  .btn-information {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (min-width: 769px) {
  .mobile-alert {
    display: none;
  }

  .btn-information {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

.symptoms-modal-container {
  .modal-header {
    color: white;
    background-color: #A43EC9;
    font-family: 'Oxygen', 'Helvetica', sans-serif;

    .h4 {
      font-weight: 700;
    }

    button.close {
      color: white;
    }
  }
}

.map-container {
  text-align: center;
}
