@import "palette";

.body {
  max-width: 1200px;
  margin: auto;
  font-family: 'Oxygen', 'Helvetica', sans-serif;

  .mobile-alert {
    margin: 0 10px 20px 10px;
  }

  .last-update {
    padding-left: 15px;
    h3 {
      font-weight: 600;
      margin-bottom: 10px;
      color: #454545;
    }
  }

  .nav.nav-pills {
    justify-content: center;
    .nav-link.active {
      background-color: #454545;
    }
  }

  a.nav-link {
    color: #11998e;
    outline: none;
  }

  .source {
    text-align: center;
    a {
      text-decoration: underline;
    }
  }

  .loader {
    text-align: center;
    margin-top: 60px;
    .loader-text {
      margin-top: 10px;
    }
  }

  #argentina-tab {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .soon {
      text-align: center;
      font-weight: 300;
      font-size: 36px;
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }
}


@media only screen and (max-width: 768px) {
  .last-update {
    margin-top: 20px;
    h3 {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 769px) {
  .last-update {
    margin-top: 20px;
    h3 {
      font-size: 18px;
    }
  }

  .mobile-alert {
    display: none;
  }
}
