h1, h2 {
  margin: 0;
}

.nav-container {
  //background: rgb(2,0,36);
  //background: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
  height: 70px;
  box-shadow: 0 2px 3px -2px rgba(0,0,0,.9);
  margin-bottom: 10px;
  .nav {
    display: flex;
    padding: 0 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    height: 70px;
    .logo-container {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      .title {
        //color: white;
        font-family: 'Oxygen', sans-serif;
        font-weight: 700;
        margin-right: 15px;
        margin-bottom: 0;
      }
      .subtitle {
        font-weight: 500;
        a {
          text-decoration: none;
        }
      }
    }

  }
}
// MOBILE
@media only screen and (max-width: 768px) {
  .nav-container {
    .title {
      font-size: 32px;
    }
    .subtitle {
      font-size: 20px;
    }
  }

}

// DESKTOP
@media only screen and (min-width: 769px) {
  .nav-container {
    .title {
      font-size: 36px;
    }
    .subtitle {
      font-size: 26px;
    }
  }
}
